@model EntityLayer.Concrete.Blog

@{
    ViewBag.Title = "AddNewBlog";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}

<form class="form-group" method="post">

    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.BlogTitle)
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.CategoriNameDropBox, new { @class = "form-control" })
    <br />
    @Html.Label("Resim Yolu")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.BlogDate, new { @class = "form-control", @Value = DateTime.Now.ToShortDateString(), disabled = "disabled", @readonly = "readonly" })
    <br />
    @Html.Label("Yazar")
    @Html.DropDownListFor(x => x.AuthorID, (List<SelectListItem>)ViewBag.AuthorNameDropBox, new { @class = "form-control" })
    <br />
    @Html.Label("İçerik")
    @Html.TextAreaFor(x => x.BlogContent, 5, 20, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.BlogContent)
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

